[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-sdk-py-committers
	read = group GitHub Replication
[project]
	description = Hyperledger Fabric SDK in Python
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-sdk-py-committers
	createTag = group ldap/hyperledger-gerrit-fabric-sdk-py-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-sdk-py-committers
